<div class="row">
  <div class="col-md-5">
    <div class="thumbnail">
      <img src="http://placehold.it/520x640" class="img-responsive">
    </div>
  </div>
  <div class="col-md-7">
    <div>
      <h4>{{ product?.title }}</h4>
      <h5>Cena: {{ product?.price | currency:'PLN ' }}</h5>
      <p>Opis: {{ product?.description }}</p>
    </div>
    <div class="ratings">
      <p class="pull-right">Opinie: {{ reviews?.length }}</p>
      <p><auction-stars [rating]="product?.rating"></auction-stars></p>
    </div>
     <div>
      <button class="btn btn-default btn-lg" [ngClass]="{active: isWatching}" (click)="toggleWatchProduct()" role="button">{{ isWatching ? 'Przestań obserwować' : 'Obserwuj' }}</button>
      <label>Aktualna oferta: {{ currentBid | currency:'PLN' }}</label>
    </div>
  </div>
</div>

<div id="reviews-anchor" class="well">
  <div class="text-right">
    <button (click)="isReviewHidden = !isReviewHidden" class="btn btn-primary">Zostaw opinię</button>
  </div>

  <div [hidden]="isReviewHidden" class="add-review">
    <auction-stars [(rating)]="newRating" [readonly]="false" class="lead"></auction-stars>
    <textarea [(ngModel)]="newComment" class="form-control" rows="2"></textarea>
    <button (click)="addReview()" class="btn btn-default">Dodaj opinię</button>
  </div>

  <div class="row" *ngFor="let review of reviews">
    <auction-stars [rating]="review.rating"></auction-stars>
    <span>{{ review.user }}</span>
    <span class="pull-right">{{ review.timestamp | date: 'shortDate' }}</span>
    <p>{{ review.comment }}</p>
  </div>
</div>
