.thumbnail {
  border: 1px solid transparent;
  border-radius: 0;
  padding: 15px;
}

.thumbnail:hover {
  border: 1px solid #ffab00;
}

.thumbnail .caption {
  height: 100px;
  overflow: hidden;
  padding: 0;
}

.product-img {
  position: relative;
}

.price {
  background: #333;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
