@import url('https://fonts.googleapis.com/css?family=Lato&subset=latin-ext');

body {
  font-family: 'Lato', sans-serif;
  padding-top: 70px;
}

.btn-primary {
  background: #ffab00;
  border: none;
  border-radius: 0;
  line-height: 30px;
  text-transform: uppercase;
}

.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus {
  background: #f0a510;
  border: none;
  outline: none;
}
