.navbar {
  background: #fff;
  text-align: center;
}

.navbar a {
  color: #333;
}

.navbar ul a {
  border-radius: 2px;
  font-size: 16px;
}

.navbar ul a:hover {
  background: #ffab00;
  color: #fff;
}

.navbar a.navbar-brand {
  font-family: 'Georgia', serif;
  font-size: 20px;
  font-weight: 600;
}
