 <form name="searchForm" role="form" [formGroup]="formModel" (ngSubmit)="onSearch()" novalidate>
  <div class="form-group" [class.has-error]="formModel.hasError('minlength', 'title')">
    <label for="productTitle">Nazwa produktu:</label>
    <input id="productTitle" type="text" placeholder="Nazwa" class="form-control" formControlName="title" minlength="3">
    <span class="text-danger" [class.hidden]="!formModel.hasError('minlength', 'title')">Wpisz co najmniej 3 znaki</span>
  </div>
  <div class="form-group" [class.has-error]="formModel.hasError('positivenumber', 'price')">
    <label for="productPrice">Cena produktu:</label>
    <input id="productPrice" type="number" min="0" step="any" placeholder="Cena" class="form-control" formControlName="price">
    <span class="text-danger" [class.hidden]="!formModel.hasError('positivenumber', 'price')">Cena musi być liczbą dodatnią</span>
  </div>
  <div class="form-group">
    <label for="prodcutCategory">Kategoria produktów:</label>
    <select id="prodcutCategory" class="form-control" formControlName="category">
      <option value="-1">Wszystkie kategorie</option>
      <option *ngFor="let c of categories" [value]="c">{{ c }}</option>
    </select>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block">Szukaj</button>
  </div>
</form>
